// remove disqus footer
// thanks to http://developer-paradize.blogspot.com/2014/06/how-to-hide-or-remove-disqus-footer.html

$disqusOverlay: 60px;
$disqusOverlayMobile: 185px;

#disqus_thread{
  position: relative;
  min-height: $disqusOverlay;
  @include mobile {
    min-height: $disqusOverlayMobile;
  }
}

#disqus_thread:after{
  content: "";
  display: block;
  height: $disqusOverlay;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background: white;

  @include mobile {
    height: $disqusOverlayMobile;
  }
}